@model Blogger.ViewModels.MembersChangePasswordViewModel

@{ 
    ViewBag.Title = "修改密碼";
}

@*匯入驗證所需的JavaScript*@
@section Scripts
{
    @Scripts.Render("~/bundless/jqueryval")
}

@*標題*@
<div class="page-header">
    <h1>修改密碼<small>@ViewData["ChangeState"]</small></h1>
</div>
<div class="form-horizontal">
    @*建立修改密碼所需的表單*@
    @using (Html.BeginForm())
    {
        @*輸出表單驗證失敗所出現的訊息*@
        <div class="alert alert-warning">
            @Html.ValidationSummary()
        </div>
        @*產生修改密碼表單內容*@
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-xs-4 col-md-1 form-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "label label-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-xs-4 col-md-1 form-label" })
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "label label-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPasswordCheck, new { @class = "col-xs-4 col-md-1 form-label" })
            @Html.PasswordFor(m => m.NewPasswordCheck, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPasswordCheck, null, new { @class = "label label-danger" })
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit"value="修改密碼"/>
        </div>
    }
</div>